<div class="quicklink-sidebar-menu ctm-border-radius shadow-sm bg-white card">
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item text-center active button-5"><a href="~/Role/Index" class="text-white">Role</a></li>
            <li class="list-group-item text-center button-6"><a class="text-dark" href="employees-team.html">Teams</a></li>
            <li class="list-group-item text-center button-6"><a class="text-dark" href="employees-offices.html">Offices</a></li>
        </ul>
    </div>
</div>