<div class="user-card card shadow-sm bg-white text-center ctm-border-radius">
    <div class="user-info card-body">
        <div class="user-avatar mb-4">
            <img src="assets/img/profiles/img-13.jpg" alt="User Avatar" class="img-fluid rounded-circle" width="100">
        </div>
        <div class="user-details">
            <h4><b>Welcome Admin</b></h4>
            <p>Sun, 29 Nov 2019</p>
        </div>
    </div>
    </div>