################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

#
/Project/.vs

/Project/Presentation/Project.Web/bin

/Project/Presentation/Project.Api/bin


/Project/Presentation/Project.Web/obj

/Project/Presentation/Project.Api/obj

##########

/Project/Libraries/Project.Core/bin

/Project/Libraries/Project.Core/obj


/Project/Libraries/Project.Data/bin

/Project/Libraries/Project.Data/obj


/Project/Libraries/Project.Services/bin

/Project/Libraries/Project.Services/obj

##############