################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project/Presentation/Project.Web/Models/Common/NotifyType.cs
.vs/
/Project/.vs/Project/v17/.suo
