@model Project.Web.Models.Users.LoginModel

@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Login";
}

<div class="login-wrapper">
    <div class="container">
        <div class="loginbox shadow-sm">
            <div class="login-left">
                <img class="img-fluid" src="~/assets/img/LoadNowLogo.png" alt="Logo">
            </div>
            <div class="login-right">
                <div class="login-right-wrap">
                    <h1>Login</h1>
                    <p class="account-subtitle">Access to our dashboard</p>


                    <!--Form-->
                    <form asp-action="Login" method="post">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <input asp-for="Email" class="form-control" placeholder="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <input asp-for="ReturnUrl" type="hidden" class="form-control" />
                        <div class="form-group">
                            <input class="btn btn-theme button-1 text-white ctm-border-radius btn-block" value="Login" type="submit" />
                        </div>
                    </form>
                    <!--/Form-->


                    <h1>Shubham</h1>
                 

                   
                </div>
            </div>
        </div>
    </div>
</div>

