@model StateModel;

@{
    Layout = "_MasterLayout";
}

<div class="row justify-content-center gutters">
    <div class="col-md-6 col-sm-12">
        <form>
            <div class="form-block">
                <div class="form-block-header">
                    <h5>Contact Us</h5>
                    <h6>How can we help you?</h6>
                </div>
                <div class="form-block-body">
                    <div class="form-group">
                        <input type="text" class="form-control" asp-for="Name" name="name" placeholder="Name" required>
                    </div>
                    <div class="clearfix">
                        <button type="button" id="btnSubmit" class="btn btn-info float-right">
                            Submit Form
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<script>
    $(document).ready(() => {
        $('#btnSubmit').click(() => {
            handleFormSubmission();
        });
    });

    const handleFormSubmission = async () => {

        let dataObject = { '@Html.NameFor(Model => Model.Name)': $('#@Html.IdFor(Model => Model.Name)').val() };
        let response = await postData({ type: "POST", controller: "State", endPoint: "AddState", data: dataObject });
        console.log(response);

    }
</script>
